*.iml
.gradle
/local.properties
/.idea
/.idea/*
#/.idea/caches
#/.idea/libraries
#/.idea/modules.xml
#/.idea/workspace.xml
#/.idea/navEditor.xml
#/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/69d85910ac327ebe91df77170db1a34d2b474c15e63570d991adb14a4b9e299f_0.jar
/app/build/*
